<div class="category" id="real-travel-category">

    <div class="travel-category">
      <div id="categories">
        <div class="card-header">
          <h2 id="">Travel</h2>
        </div>
        <div class="">
        </div>
        <div id="travel-articles" class="carousel slide" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="card-group">
                <div class="card-body"  aria-expanded="false">
                  <div class="container" id="sites">
                    <div class="row">

                        <!--Travel Daily site-->
                        <div class="col-lg-4 col-md-12 col-sm-12 d-flex">
                          <div class="card mb-3 box-shadow" id="article-body">
                            <span class="card-title" id="web-name"><h4>Travel Daily</h4></span>
                            <div class="card-body" id="articles">
                           <!--Site-->
                            <div *ngFor="let item of travelAr[0]; index as i; first as isFirst; ">
                              <div class="row" id="blue-line">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                  <img id="article-images" src={{item?.imageUrl}}/>
                                </div>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                                  <p class="article-description">{{item?.description}}</p>
                              </div>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>

                        <!--Travel And Tour World Site-->
                        <div class="col-lg-4 col-md-12 col-sm-12 d-flex" >
                          <div class="card mb-3 box-shadow" id="article-body">
                            <span class="card-title" id="web-name"><h4>Travel And Tour World</h4></span>
                            <div class="card-body" id="articles">
                           <!--Site-->
                            <div *ngFor="let item of travelAr[1]; index as i; first as isFirst; ">
                              <div class="row" id="blue-line">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                  <img id="article-images" src={{item?.imageUrl}}/>
                                </div>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                                  <p class="article-description">{{item?.description}}</p>
                              </div>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>

                        <!--Skift Site-->
                        <div class="col-lg-4 col-md-12 col-sm-12 d-flex">
                          <div class="card mb-3 box-shadow" id="article-body">
                            <span class="card-title" id="web-name"><h4>Skift</h4></span>
                            <div class="card-body" id="articles">
                           <!--Site-->
                            <div  *ngFor="let item of travelAr[2]; index as i; first as isFirst; ">
                              <div class="row" id="blue-line">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                  <img id="article-images" src={{item?.imageUrl}}/>
                                </div>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                                  <p class="article-description">{{item?.description}}</p>
                              </div>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>

                        <!--PhocusWire site-->
                        <div class="col-lg-4 col-md-12 col-sm-12 d-flex" >
                          <div class="card mb-3 box-shadow" id="article-body">
                            <span class="card-title" id="web-name"><h4>PhocusWire</h4></span>
                            <div class="card-body" id="articles">
                           <!--Site-->
                            <div  *ngFor="let item of travelAr[3]; index as i; first as isFirst; ">
                              <div class="row" id="blue-line">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                  <img id="article-images" src={{item?.imageUrl}}/>
                                </div>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                                  <p class="article-description">{{item?.description}}</p>
                              </div>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>

                         <!--Visit Sea site-->
                  <div class="col-lg-4 col-md-12 col-sm-12 d-flex" >
                    <div class="card mb-3 box-shadow" id="article-body">
                      <span class="card-title" id="web-name"><h4>Visit Sea</h4></span>
                      <div class="card-body" id="articles">
                     <!--Site-->
                      <div  *ngFor="let item of travelAr[8]; index as i; first as isFirst; ">
                        <div class="row" id="blue-line">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                            <img id="article-images" src={{item?.imageUrl}}/>
                          </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                          <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                            <p class="article-description">{{item?.description}}</p>
                        </div>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>


                  <!--TTN World Wide Site-->
                  <div class="col-lg-4 col-md-12 col-sm-12 d-flex" >
                    <div class="card mb-3 box-shadow" id="article-body">
                      <span class="card-title" id="web-name"><h4>TTN World Wide</h4></span>
                      <div class="card-body" id="articles">
                     <!--Site-->
                      <div *ngFor="let item of travelAr[6]; index as i; first as isFirst; ">
                        <div class="row" id="blue-line">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                            <img id="article-images" src={{item?.imageUrl}}/>
                          </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                          <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                            <p class="article-description">{{item?.description}}</p>
                        </div>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="carousel-item">
              <div class="card-group">
                <div class="card-body"  aria-expanded="false">
                  <div class="container" id="sites">
                    <div class="row">
                        <!--Travel Weekly site-->
                  <div class="col-lg-4 col-md-12 col-sm-12 d-flex" >
                    <div class="card mb-3 box-shadow" id="article-body">
                      <span class="card-title" id="web-name"><h4>TravelWeekly</h4></span>
                      <div class="card-body" id="articles">
                     <!--Site-->
                      <div  *ngFor="let item of travelAr[8]; index as i; first as isFirst; ">
                        <div class="row" id="blue-line">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                            <img id="article-images" src={{item?.imageUrl}}/>
                          </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                          <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                            <p class="article-description">{{item?.description}}</p>
                        </div>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>

                  <!--Business Travel Site-->
                  <div class="col-lg-4 col-md-12 col-sm-12 d-flex">
                    <div class="card mb-3 box-shadow" id="article-body">
                      <span class="card-title" id="web-name"><h4>Business Travel</h4></span>
                      <div class="card-body" id="articles">
                     <!--Site-->
                      <div *ngFor="let item of travelAr[10]; index as i; first as isFirst; ">
                        <div class="row" id="blue-line">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                            <img id="article-images" src={{item?.imageUrl}}/>
                          </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                          <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                            <p class="article-description">{{item?.description}}</p>
                        </div>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>

                  <!--Travel Pulse Site-->
                  <div class="col-lg-4 col-md-12 col-sm-12 d-flex" >
                    <div class="card mb-3 box-shadow" id="article-body">
                      <span class="card-title" id="web-name"><h4>Travel Pulsel</h4></span>
                      <div class="card-body" id="articles">
                     <!--Site-->
                      <div *ngFor="let item of travelAr[4]; index as i; first as isFirst; ">
                        <div class="row" id="blue-line">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                            <img id="article-images" src={{item?.imageUrl}}/>
                          </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                          <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                            <p class="article-description">{{item?.description}}</p>
                        </div>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>

                  <!--EturboNews site-->
                  <div class="col-lg-4 col-md-12 col-sm-12 d-flex" >
                    <div class="card mb-3 box-shadow" id="article-body">
                      <span class="card-title" id="web-name"><h4>EturboNews</h4></span>
                      <div class="card-body" id="articles">
                     <!--Site-->
                      <div  *ngFor="let item of travelAr[7]; index as i; first as isFirst; ">
                        <div class="row" id="blue-line">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                            <img id="article-images" src={{item?.imageUrl}}/>
                          </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                          <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                            <p class="article-description">{{item?.description}}</p>
                        </div>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>

                    <!--TTGMedia Site-->
                    <div class="col-lg-4 col-md-12 col-sm-12 d-flex" >
                      <div class="card mb-3 box-shadow" id="article-body">
                        <span class="card-title" id="web-name"><h4>TTG</h4></span>
                        <div class="card-body" id="articles">
                       <!--Site-->
                        <div  *ngFor="let item of travelAr[5]; index as i; first as isFirst; ">
                          <div class="row" id="blue-line">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                              <img id="article-images" src={{item?.imageUrl}}/>
                            </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                            <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                              <p class="article-description">{{item?.description}}</p>
                          </div>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>

                <!--Lonely Planet site-->
                  <div class="col-lg-4 col-md-12 col-sm-12 d-flex">
                    <div class="card mb-3 box-shadow" id="article-body">
                      <span class="card-title" id="web-name"><h4>Lonely Planet</h4></span>
                      <div class="card-body" id="articles">
                        <!--artical -->
                            <div *ngFor="let item of travelAr[11]; index as i; first as isFirst; ">
                              <div class="row" id="blue-line">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2" >
                                  <img id="article-images" src={{item?.imageUrl}}/>
                                </div>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                                  <p class="article-description">{{item?.description}}</p>
                              </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" id="control" href="#travel-articles" role="button" data-slide="prev">
          <span class="btn btn-dark carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" id="control" href="#travel-articles" role="button" data-slide="next">
          <span class="btn btn-dark carousel-control-next-icon" aria-hidden="true"></span>
        </a>
            <ol class="carousel-indicators" id="step">
              <li data-target="#travel-articles" data-slide-to="0" class="active"></li>
              <li data-target="#travel-articles" data-slide-to="1"></li>
            </ol>
          </div>
        </div>

      </div>
    </div>
  </div>