#not-found-content {
    margin-top:3%;
    font-weight: bold;
}

.not-found-title {
    text-align: center;
    margin-left:25%;

    margin-bottom: 40%;
    line-height: normal;
}

#not-found-image {
    background-image: url("../../assets/images/questionMarkSmall.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}