#not-found-image {
    max-width: 30%;
    height: 25em;
    border-radius: 100%;
    border:2px solid #F55B2A;
    margin-left:35%;
    background-image: url("../../assets/images/questionMark.jpg");
}

#not-found-content {
    font-weight: bold;
}

.not-found-title {
    text-align: center;
    color:#F55B2A;

    line-height: normal;
}

