/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

    body {
        padding: 0% 0%;
        background-color:#252429;

    }

    a:link {
        font-family: 'Rubik';
        font-size:0.5rem;
    }

    span > a{
        color:black;
    }

    h2 {
        font-family: 'Heebo';
        text-align: center;
        color:#fff;
    }

    a:visited     {
        color:black;
    }

    .card-body {
        width:100%;
    }

    #logo {
       padding: 0% 0%;
       margin: 0% 0%;
       margin-left: 5%;
       height:50px;
       border-radius: 50%;
       border:3px solid #336ca6;
    }

    #scrollTop {
        background-color:#336ca6;
        border-color: #336ca6;
        position:fixed;
        font-size:1.5em;
        width:5rem;
        height:3rem;
        bottom:3rem;
        right:3rem;
        z-index:1010;
        border-radius: 100%;
    }

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    #headerOptions {
        padding: 0% 2%;
    }

    #options {
       position: relative;
       top:5%;
    }

    #header-icon {
        display: block;
        padding-right:5%;
    }

    #seeAll {
        position: relative;
        bottom:2.5px;
        display: inline;
        padding-right:5%;
    }


    #summary {
        text-align: center;
        font-family: 'Rubik';
        color:#fff;
        padding-top:2%;
        padding-bottom:10%;
        width:80%;
        margin: 0% 10%;
        margin-top: 1%;

    }

    #slogan {
        border-radius: 300%;
        border-width: 10px;
        width:150px;
        height:150px;
        border:2px solid #336ca6;
        margin-top:2%;
        margin-left:50%;
        margin-top:6%;
    }

    #content {
        text-align: left;
        margin:0% 0%;
        padding: 0% 0%;
        padding-top:15%;
        margin-right: 10%;
        margin-right: 20%;
    }

    #summaryContent {
        margin-top:3%;
        font-weight: bold;
        font-size: 1.2rem;
    }



     @media (max-width:480px) {
         .navbar-fixed-top
        {
        position: relative;
        top: auto;
        }

        #scrollTop {
           display: none;
        }

        #summary {
            margin-left:20%;
        }
        #slogan {
            margin: 0% 0%;
            margin-left:15%;
        }

        #summaryContent {
            margin-top:3%;
            font-weight: bold;
            font-size: 0.7rem;
        }

        #page-number {
            margin-bottom: 1%;
        }

     }

     @media (min-width:550px) and (max-width:850px) {
        .navbar-fixed-top
        {
        position: relative;
        top: auto;
        }



        #blue-line {
            text-align: center;
        }

        #web-name > h4 {
            margin-left: auto;
            margin-right: auto;
            font-weight: bold;
            margin-top:2%;
        }



        #scrollTop {
            display:none;
            width:6%;
            height:12%;
            margin-left:50%;
            border-radius: 50%;
        }


        #scrollTopIcon {
            text-align: center;
        }

        #summary {
            margin-left:20%;
        }
        #slogan {
            margin: 0% 0%;
            margin-left:15%;
        }

        #summaryContent {
            margin-top:3%;
            font-weight: bold;
            font-size: 0.7rem;
        }

        #page-number {
            margin-bottom: 1%;
        }

     }

     @media (min-width: 800px) and (max-width:1000px) {
        .navbar-fixed-top
        {
        position: relative;
        top: auto;
        }


       #scrollTop {
           display: none;
           width:5%;
           height:10%;
           margin: 0% 0%;
           margin-left:25%;

       }

       #scrollTopIcon {
           text-align: center;
       }

       #page-number {
           margin-bottom: 1%;
       }


       #summary {
           text-align: center;
           font-family: 'Rubik';
           color:#fff;
           padding-top:2%;
           padding-bottom:10%;
           width:80%;
           margin: 0% 10%;
           margin-top: 1%;

       }

       #slogan {
           width:130px;
           height:130px;
           border:2px solid #336ca6;
           margin-top:2%;
           margin-left:45%;
           margin-top:18%;
       }

       #summaryContent {
           text-align: center;
           margin-top:3%;
           margin-left:10%;
           font-weight: bold;
           font-size: 0.8rem;
       }
    }


    @media (min-width: 1000px) and (max-width:1500px) {

       #scrollTop {
           width:5%;
           height:10%;
           margin: 0% 0%;
           margin-left:25%;

       }

       #scrollTopIcon {
           text-align: center;

       }

       #page-number {
           margin-bottom: 1%;
       }

       #summary {
           text-align: center;
           font-family: 'Rubik';
           color:#fff;
           padding-top:2%;
           padding-bottom:10%;
           width:80%;
           margin: 0% 10%;
           margin-top: 1%;

       }

       #slogan {
           width:130px;
           height:130px;
           border:2px solid #336ca6;
           margin-left:50%;
           margin-top:5%;
       }

       #summaryContent {
           font-weight: bold;
           font-size: 0.8rem;
       }
    }

