
@import "~bootstrap/dist/css/bootstrap.css";

    body {
        padding: 0% 0%;
        background-color:#1f1d24;
    }

    .vector {
        padding-bottom: 8%;
        background-image: url("assets/images/Vector.png");
        background-size:cover;
    }

    a:link {
        font-size:0.5rem;
    }

    span > a{
        color:black;
    }

    h1 {
        color:#367CD2;
        text-align: center;
    }

    h2 {
        text-align: center;
        color:#fff;
    }

    a:visited     {
        color:black;
    }

    .container {
        padding: 1% 0%;
    }

    .card-body {
        width:100%;
    }

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }


    #options {
       position: relative;
       top:5%;
    }

    .likedbtn {
        background-color:transparent;
        border-color:transparent;
    }

    #seeAll {
        position: relative;
        bottom:2.5px;
        display: inline;
        padding-right:5%;
    }




     @media (max-width:480px) {
         .navbar-fixed-top
        {
        position: relative;
        top: auto;
        }

        #scrollTop {
           display: none;
        }

        #summary {
            margin-left:20%;
        }

        #slogan {
            margin: 0% 0%;
            margin-left:15%;
        }

        #summaryContent {
            margin-top:3%;
            font-weight: bold;
            font-size: 0.7rem;
        }

        #page-number {
            margin-bottom: 1%;
        }

     }

     @media (min-width:550px) and (max-width:850px) {
        .navbar-fixed-top
        {
        position: relative;
        top: auto;
        }



        #blue-line {
            text-align: center;
        }

        #web-name > h4 {
            margin-left: auto;
            margin-right: auto;
            font-weight: bold;
            margin-top:2%;
        }

        #summary {
            margin-left:20%;
        }
        #slogan {
            margin: 0% 0%;
            margin-left:15%;
        }

        #summaryContent {
            margin-top:3%;
            font-weight: bold;
            font-size: 0.7rem;
        }

        #page-number {
            margin-bottom: 1%;
        }

     }

     @media (min-width: 800px) and (max-width:1000px) {
        .navbar-fixed-top
        {
        position: relative;
        top: auto;
        }

       #page-number {
           margin-bottom: 1%;
       }


       #summary {
           text-align: center;
           color:#0a0a0a;
           padding-top:2%;
           padding-bottom:10%;
           width:80%;
           margin: 0% 10%;
           margin-top: 1%;

       }

       #slogan {
           width:130px;
           height:130px;
           border:2px solid #336ca6;
           margin-top:2%;
           margin-left:45%;
           margin-top:18%;
       }

       #summaryContent {
           text-align: center;
           margin-top:3%;
           margin-left:10%;
           font-weight: bold;
           font-size: 0.8rem;
       }
    }


    @media (min-width: 1000px) and (max-width:1500px) {

       #summary {
           text-align: center;
           color:#fff;
           padding-top:2%;
           padding-bottom:10%;
           width:80%;
           margin: 0% 10%;
           margin-top: 1%;
       }

       #slogan {
           width:130px;
           height:130px;
           border:2px solid #336ca6;
           margin-left:50%;
           margin-top:5%;
       }

       #summaryContent {
           font-weight: bold;
           font-size: 0.8rem;
       }
    }

