<section class="welcome">
  <div>
    <br>
  </div>

    <div class="container">
      <div class="welcome-content">

        <p class="welcome-text">News Around The World</p>

        <p class="content-text">
          An easy way to read articles around the world from the most popular websites
        </p>

        <a type="button" (click)="goToSection('about-title')" class="learn-more-button learn-more"><p>Learn More</p></a>
      </div>
    </div>
</section>

<section id="about-title">
  <p  class="about-header">About</p>

  <div class="row about-content">
    <p class="col-lg-12 col-md-12 col-sm-12 col-xs-2 about-text">
      What’sNew is a SaaS product for personal use.<br>
      Are you looking for articles from various sources at the same time?<br>
      You are in the right place.
    </p>


  </div>

  <div class="vector"><br></div>
</section>

<section class="contact-me">
  <p class="contact-me-header">Contact Me</p>

  <div class="container">
    <div class="row contact-me-content">
      <div class="col-lg-12 col-md-12 col-sm-12 contact-me-form">
        <form [formGroup]="contact" (ngSubmit)="sendMessage()" >
          <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
              <div class="row">
                  <label class="col-lg-4 col-md-12 col-sm-12 col-xs-2 input-name">First Name</label>
                  <input type="text" class="col-lg-4 col-md-12 col-sm-12 col-xs-2 input-field" formGroupName="firstName" formControlName="firstName" required/>
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
              <div class="row">
                  <label class="col-lg-4 col-md-12 col-sm-12 col-xs-2 input-name">Last Name</label>
                  <input type="text" class="col-lg-4 col-md-12 col-sm-12 col-xs-2 input-field" formGroupName="lastName" formControlName="lastName"/>
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
              <div class="row">
                  <label class="col-lg-4 col-md-12 col-sm-12 col-xs-2 input-name">Email</label>
                  <input type="text" class="col-lg-4 col-md-12 col-sm-12 col-xs-2 input-field" formGroupName="email" formControlName="email"/>
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
              <div class="row">
                  <label class="col-lg-4 col-md-12 col-sm-12 col-xs-2 input-name">Country</label>
                  <select class="col-lg-6 col-md-12 col-sm-12 col-xs-2 input-field" formGroupName="country" formControlName="country" required name="country" id="country">
                    <option class="col-lg-6 col-md-12 col-sm-12 col-xs-2" *ngFor="let country of countries" [ngValue]="country">{{country.name}} ({{country.code}})</option>
                </select>
              </div>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
              <div class="row">
                <label class="col-lg-4 col-md-12 col-sm-12 col-xs-2 input-name">Message</label>
                <textarea class="col-lg-12 col-md-12 col-sm-12 col-xs-2"  rows="4" cols="20" formGroupName="message" formControlName="message"></textarea>
              </div>
            </div>

          </div>

          <input class="contact-me-button" type="button" value="Submit"/>
        </form>


      </div>

    </div>


  </div>





</section>
<div class="vector"><br></div>
