.container {
    display: flex;
    justify-content:space-between;
    padding-left:45%;
}
.footer {
    padding-top: 2%;
    width: 90%;
}

.footer-location-title {
    font-family: 'Inter';
    padding-left:38%;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #F9A079;
}

.footer-location-content {
    color:#fff;
    padding: 0% 0% 0% 7%;
}

.footer-contact-title {
    font-family: 'Inter';
    text-align: right;
    padding-right:41%;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #F9A079;
}

.footer-contact-content {
    color:#fff;
    padding-left: 8%;
}

.vector {
    padding-bottom: 8%;
    background-image: url("../../assets/images/Vector.png");
    background-size:cover;
}

@media screen and (min-width: 768px) {

    .footer-location-title {
        padding-left: 45%;
    }

    .footer-location-content {
        padding-right:27%;
    }

    .footer-contact-title {
        padding-right:32%;

    }

    .footer-contact-content {
        padding-right:29%;
    }
}


  @media screen and (min-width:384px) and (max-width:639px) {
    .footer-contact-title {
        font-size: 22px;
        padding-right:34%;
    }
    .footer-contact-content {
        font-size: 11px;
        padding: 0% 0% 0% 0%;
    }
    .footer-location-title {
        font-size: 22px;
        padding-left:46%;
    }
    .footer-location-content {
        font-size: 11px;
        padding-left:6%;
    }
  }

  @media screen and (min-width:600px) and (max-width:650px) {
    .footer-contact-title {
        font-size: 28px;
        padding-right:33%;
    }
    .footer-contact-content {
        font-size: 11px;
        padding:0% 0% 0% 0%;
    }
    .footer-location-title {
        font-size: 28px;
        padding-left:48%;
    }
    .footer-location-content {
        font-size: 11px;
        padding-left:8%;
    }
  }
  @media screen and (min-width:700px) and (max-width:800px) {
    .footer-contact-title {
        font-size: 32px;
        padding-right:37%;
    }
    .footer-contact-content {
        font-size: 11px;
        padding:0% 0% 0% 3%;
    }
    .footer-location-title {
        font-size: 32px;
        padding-left:45%;
    }
    .footer-location-content {
        font-size: 11px;
        padding-left:9%;
    }
  }

  @media screen and (min-width:800px) and (max-width:1000px) {
    .container {
        padding-left:40%;
    }
    .footer-contact-title {
        font-size: 32px;
        padding-right:35%;
    }
    .footer-contact-content {
        font-size: 10px;
        padding:0% 0% 0% 7%;
    }
    .footer-location-title {
        font-size: 32px;
        padding-left:51%;
    }
    .footer-location-content {
        font-size: 11px;
        padding-left:13%;
    }
  }

  @media screen and (min-width:1000px) and (max-width:1200px) {
    .footer-contact-title {
        font-size: 32px;
        padding:0% 30% 0% 0%;
    }
    .footer-contact-content {
        font-size: 11px;
        padding:0% 0% 0% 0%;
    }
    .footer-location-title {
        font-size: 32px;
    }
    .footer-location-content {
        font-size: 11px;
        padding:0% 0% 0% 15%;
    }
  }

  @media screen and (min-width:1200px) and (max-width:1400px) {
    .footer-contact-title {
        font-size: 34px;
    }
    .footer-contact-content {
        font-size: 13px;
        padding: 0% 0% 0% 0%;
    }
    .footer-location-title {
        font-size: 34px;
    }
    .footer-location-content {
        font-size: 13px;
        padding:0% 0% 0% 10%;
    }
  }


  @media screen and (min-width: 2500px) and (max-width:2600px) {
    .footer-contact-title {
        font-size: 50px;
    }
    .footer-contact-content {
        font-size: 20px;
    }
    .footer-location-title {
        font-size: 50px;
    }
    .footer-location-content {
        font-size: 20px;
    }

  }

  @media screen and (min-width: 2800px) and (max-width:3000px) {
    .footer-contact-title {
        font-size: 60px;
    }
    .footer-contact-content {
        font-size: 30px;
        padding-right:27%;
    }
    .footer-location-title {
        font-size: 60px;
    }
    .footer-location-content {
        font-size: 30px;
        padding-right:28%;
    }
  }

  @media screen and (min-width:3000px) and (max-width:4000px) {
    .footer-contact-title {
        font-size: 70px;
    }
    .footer-contact-content {
        font-size: 40px;
        padding-right:27%;
    }
    .footer-location-title {
        font-size: 70px;
    }
    .footer-location-content {
        font-size: 40px;
        padding-right:28%;
    }

  }