<section class="footer">

    <div class="row contact-details">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-2">
        <p class="footer-location-title">Location</p>

        <div class="container">
          <p class="footer-location-content">
            Tel-Aviv,Israel</p>
        </div>

      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-2">
        <p class="footer-contact-title">Contact</p>
        <div class="container">
          <p class="footer-contact-content">Email - Gil@whatsnew.me <br>
            LinkedIn - Gil Avraham</p>
        </div>
      </div>


    </div>
  </section>