<!--Header-->
 <section id="header">

  <div class="container-fruid"  id="categories-link">

  <nav class="navbar navbar-expand-md" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerOptions" aria-controls="headerOptions" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
    <div class="collapse navbar-collapse" id="headerOptions">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <a href="#"><img id="logo" src="assets/images/WhatsNewLogo.jpeg"/></a>
        </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <a routerLink="news" class="btn btn-light" id="header-category"><i class="far fa-newspaper" id="header-icon"></i>News</a>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <a routerLink="business"  class="btn btn-light"  id="header-category"><i class="fas fa-business-time" id="header-icon"></i>Business</a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <a routerLink="sport" class="btn btn-light"  id="header-category"><i class="fas fa-running" id="header-icon"></i>Sport</a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <a routerLink="technology" class="btn btn-light"  id="header-category"><i class="fas fa-digital-tachograph" id="header-icon"></i>Technology</a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <a routerLink="travel" class="btn btn-light" id="header-category"><i class="fas fa-globe" id="header-icon"></i>Travel</a>
        </div>
    </div>
  </nav>
    </div>
</section>

<button class=" btn-primary btn-sm"id="scrollTop" type="button"><i class="fas fa-angle-up size-4x" id="scrollTopIcon"></i></button>

<router-outlet></router-outlet>


<!--Summary-->
  <div id="summary">
      <div class="container" >
          <div class="row" id="content">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-2">
              <img  id="slogan" src="assets/images/header.jpg">
                </div>
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-2" id="summaryContent">
                    <h3>The site is for learning purposes only.</h3>
                      <p> Hi, my name is Gil, I'm a fullstack developer.
                        <br> Looking for my next challenge,
                        <br>Email - gilavr92@gmail.com</p>
                </div>
              </div>
        </div>
    </div>




