.section {
    background-size: cover;
    background-position:0cap;
    background-clip: border-box;
    clip-path: polygon(0 0,0 100%,  100% 70%,100% 0 );
    clip-path:fill-box;
    padding-bottom: 10%;
  }

  #news {
    background-image: url("../assets/images/news.jpg");
  }

  #business {
    background-image: url("../assets/images/business.png");
  }

  #sport {
    background-image: url("../assets/images/sports.png");
  }

  #technology {
    background-image: url("../assets/images/technology.png");
  }

  #travel {
    background-image: url("../assets/images/travel.png");
  }

.category-content {
    text-align: center;
    margin-left:20%;
    margin-top:10%;
    width:60%;
    height:300px;
    background: #3d3656d3;
    box-shadow: 0 50px 50px 0 rgba(8, 8, 8, 0.05), 0 2px 10px 0 rgba(10, 10, 10, 0.05);
    font-style: normal;
    font-weight: 400;
    opacity: 0.8;
}

.category-header {
    padding-top:5%;
    font-size: 4rem;
    line-height: 36px;
    color: #FEB595;
    padding-top: 4%;
}

.category-text {
    color:#fff;
    padding-top:2%;
    font-size:2rem;
}
.category-header {
    color:#FEB595;
}

.sources-text {
    text-align: center;
    font-size: 3rem;
    line-height: 36px;
    color: #FEB595;
    padding-top: 4%;
    padding-bottom:2%;
}

#sites {
    background-color: transparent;
    margin-bottom:5%;
    margin: 0% 0% 0% 5%;
}

#site {
    padding: 0.2% 0.2%;
    width:5%;
    text-align: center;
}

.carousel-inner {
    text-align:center;
}


#control {
    margin-top:30%;

}
h2 {
    font-size: 4rem;
    color:#FEB595;
    text-align: center;
}

#sources {
    width:100%;
    margin-bottom:0.1%;
}

.category {
    -webkit-filter: grayscale(100%);
}

.category:hover {
    -webkit-filter: grayscale(0%);
}


#categories-link {
    border-top: 5px solid #34495e;
    border-bottom: 2px solid #fff;
}


#articles {
    max-height: 500px;
    overflow-y: auto;
    text-align: left;
    font-weight: bold;
    overflow:auto;
}

#source > h4 {
    font-weight: bold;
}
.carousel-control-prev {
    height: 5%;
}

.carousel-control-next {
    height: 5%;
}


#newsImage {
    padding: 0% 0%;
    margin: 0% 0%;
    padding-left:30%;
    width:70%;

}

#sportImage {
   padding: 0% 0%;
    margin: 0% 0%;
    padding-left:30%;
    width:70%;
}

#article-body {
    display:block;
    margin-left: 0;
    text-align: right;
    line-height: 1.5;
    background-color: #d9d2ee;
    box-shadow: 0 15px 15px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
}

#article-body  span {
    background-color: rgba(238, 237, 247, 0.746);
    color:#d66c36;
    display: flex;
    padding: 0rem 0.5rem;
    font-size:1.2rem;
    font-weight: bold;
    box-shadow: 0 15px 15px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
}

.card-title {
    padding: 0% 50%;
}
#article-images {
    width:10rem;
    padding: 0% 1rem;
}

.article-title {
    color:#336ca6;
    font-size:1.2rem;
    font-weight: bold;
    text-align: left;
}


.article-description {
    padding-right: 25%;
    color:#0a0a0a;
}

#move-page {
    width:10%;
    font-size:1rem;
}

.slide {
    padding-bottom: 3%;
}

#step > li {
    padding-bottom: 2%;
    margin-top: 2%;
    border-radius: 100%;
    margin-left:1%;
    background-color:#d66c36;
}

.liked {
    color:red;
    border-color:none;
}

.unliked {
    color:gray;
    border-color:none;
}

.sessionExpired {
    text-align: center;

}

.hide {
    display:none;
}

.alert {
    text-align: center;
    padding: 1% 0% 0% 10%;
    margin: 0%;
}

#content {
    text-align: center;
    margin: 5% 5% 0% 25%;

}

#summaryContent {
    font-weight: bold;
    font-size: 1.2rem;

}

#summaryContent > p{
    text-align: center;
}

.vector {
    padding-bottom: 4%;
    width:99%;
    background-image: url("/src/assets/images/Vector.png");
    background-size:cover;
}

@media (max-width:480px) {

    #page-number {
        margin-bottom: 1%;
    }

   #source > h4 {
       margin-left: auto;
       margin-right: auto;
       font-weight: bold;
       margin-top:2%;
    }
   .article-title {
       text-align: center;
       font-size: 4rem;
   }

   .article-description {
       font-size: 3.5rem;
       margin-left:20%;
   }

   #article-images {
       width:20rem;
   }

   #control {
       width:5%;
       color: #d66c36;
   }

   #page-number {
       margin-bottom: 1%;
   }
   .category {
       -webkit-filter: grayscale(0%);
   }

}

@media (min-width: 1000px) and (max-width:1500px) {
  #articles {
      max-height: 200px;
      overflow-y: auto;
      text-align: left;
      font-weight: bold;
      scrollbar-face-color: #367CD2;
  }

  #control {
      width:5%;
  }

  .category {
      -webkit-filter: grayscale(0%);
  }

  #page-number {
      margin-bottom: 1%;
  }

}


