<app-header [header]="header"></app-header>

<button class=" btn-primary btn-sm"id="scrollTop" type="button"><i class="fas fa-angle-up size-4x" id="scrollTopIcon"></i></button>

<router-outlet></router-outlet>


<!--Summary-->
  <div id="summary">
      <div class="container" >
          <div class="row" id="content">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-2">
              <img  id="slogan" src="assets/images/header.jpg">
                </div>
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-2" id="summaryContent">
                    <h3>The site is for learning purposes only.</h3>
                      <p> Hi,<br>  I'm a fullstack developer.
                        <br> Looking for my next challenge,
                        <br>Email - gil@whatsnew.me</p>
                </div>
              </div>
        </div>
    </div>




