<div class="category" id="real-news-category">
    <div class="news-category">
      <div id="categories">
        <div class="card-header" >
          <h2 id="news-header">News</h2>
        </div>

        <div id="news-articles" class="carousel slide" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="card-group">
                <div class="card-body"  aria-expanded="false">
                  <div class="container" id="sites">
                    <div class="row" id="cechkingArticles">

                      <!--Ynet site-->
                      <div class="col-lg-4 col-md-12 col-sm-12 d-flex">
                        <div class="card mb-3 box-shadow" id="article-body">
                          <span class="card-title" id="web-name"><h4>Ynet</h4></span>
                          <div class="card-body" id="articles">
                         <!--Site-->
                          <div *ngFor="let item of newsAr[4]; index as i ">
                            <div class="row" id="blue-line">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                <button *ngIf="isLoging" class="likedbtn" (click)="likedArticle(item,'Ynet',i)"  ><i [ngClass]="item.liked ?  'fas fa-heart fa-lg liked' :'fas fa-heart fa-lg unliked'"  name="icone"></i></button>
                                <img id="article-images" src={{item?.imageUrl}}/>
                              </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                              <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                                <p class="article-description">{{item?.description}}</p>
                            </div>
                            </div>
                          </div>
                          </div>
                        </div>
                      </div>

                       <!--COVID-19 News-->
                        <div class="col-lg-4 col-md-12 col-sm-12 d-flex">
                          <div class="card mb-3 box-shadow" id="article-body">
                            <span class="card-title" id="web-name"><h4>COVID-19</h4></span>
                            <div class="card-body" id="articles">
                           <!--Site-->
                            <div  *ngFor="let item of newsAr[9]; index as i; first as isFirst; ">
                              <div class="row" id="blue-line">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                  <button *ngIf="isLoging" class="likedbtn" (click)="likedArticle(item,'COVID-19',i)"  ><i [ngClass]="item.liked ?  'fas fa-heart fa-lg liked' :'fas fa-heart fa-lg unliked'"  name="icone"></i></button>
                                  <img id="article-images" src={{item?.imageUrl}}/>
                                </div>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                                  <p class="article-description">{{item?.description}}</p>
                              </div>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>

                     <!--The Wall Street Journal Site-->
                     <div class="col-lg-4 col-md-12 col-sm-12 d-flex">
                      <div class="card mb-3 box-shadow" id="article-body">
                        <span class="card-title" id="web-name"><h4>The Wall Street Journal</h4></span>
                        <div class="card-body" id="articles">
                       <!--Site-->
                        <div  *ngFor="let item of newsAr[2]; index as i; first as isFirst; ">
                          <div class="row" id="blue-line">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                              <button *ngIf="isLoging" class="likedbtn" (click)="likedArticle(item,'TWSJ',i)" id="element" ><i [ngClass]="item.liked ?  'fas fa-heart fa-lg liked' :'fas fa-heart fa-lg unliked'"  name="icone"></i></button>
                              <img id="article-images" src={{item?.imageUrl}}/>
                            </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                            <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                              <p class="article-description">{{item?.description}}</p>
                          </div>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>

                         <!--New York site-->
                         <div class="col-lg-4 col-md-12 col-sm-12 d-flex">
                          <div class="card mb-3 box-shadow" id="article-body">
                            <span class="card-title" id="web-name"><h4>New York Times</h4></span>
                            <div class="card-body" id="articles">
                           <!--Site-->
                            <div  *ngFor="let item of newYorkTimesAr; index as i; first as isFirst; ">
                              <div class="row" id="blue-line">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                  <button *ngIf="isLoging" class="likedbtn" (click)="likedNyArticle(item,'NYT',i)"  ><i [ngClass]="item.liked ?  'fas fa-heart fa-lg liked' :'fas fa-heart fa-lg unliked'"  name="icone"></i></button>
                                  <img id="article-images" src={{item?.multimedia.url}} />
                                </div>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                                  <p class="article-description">{{item?.description}}</p>
                              </div>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>

                        <!--BBC Site-->
                        <div class="col-lg-4 col-md-12 col-sm-12 d-flex">
                          <div class="card mb-3 box-shadow" id="article-body">
                            <span class="card-title" id="web-name"><h4>BBC</h4></span>
                            <div class="card-body" id="articles">
                           <!--Site-->
                            <div  *ngFor="let item of newsAr[7]; index as i; first as isFirst; ">
                              <div class="row" id="blue-line">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                  <button *ngIf="isLoging" class="likedbtn" (click)="likedArticle(item,'BBC',i)"  ><i [ngClass]="item.liked ?  'fas fa-heart fa-lg liked' :'fas fa-heart fa-lg unliked'"  name="icone"></i></button>
                                  <img id="article-images" src={{item?.imageUrl}}/>
                                </div>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                                  <p class="article-description">{{item?.description}}</p>
                              </div>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>

                            <!--Time  site-->
                      <div class="col-lg-4 col-md-12 col-sm-12 d-flex">
                        <div class="card mb-3 box-shadow" id="article-body">
                          <span class="card-title" id="web-name"><h4>Time</h4></span>
                          <div class="card-body" id="articles">
                         <!--Site-->
                          <div  *ngFor="let item of newsAr[1]; index as i; first as isFirst; ">
                            <div class="row" id="blue-line">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                <button *ngIf="isLoging" class="likedbtn" (click)="likedArticle(item,'Time',i)"  ><i [ngClass]="item.liked ?  'fas fa-heart fa-lg liked' :'fas fa-heart fa-lg unliked'"  name="icone"></i></button>
                                <img id="article-images" src="{{item?.imageUrl}}"/>
                              </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                              <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                                <p class="article-description">{{item?.description}}</p>
                            </div>
                            </div>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="carousel-item">
              <div class="card-group">
                <div class="card-body"  aria-expanded="false">
                  <div class="container" id="sites">
                    <div class="row">

                       <!--CNN site-->
                       <div class="col-lg-4 col-md-12 col-sm-12 d-flex">
                        <div class="card mb-3 box-shadow" id="article-body">
                          <span class="card-title" id="web-name"><h4>CNN</h4></span>
                          <div class="card-body" id="articles">
                         <!--Site-->
                          <div  *ngFor="let item of newsAr[3]; index as i; first as isFirst; ">
                            <div class="row" id="blue-line">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                <button *ngIf="isLoging" class="likedbtn" (click)="likedArticle(item,'CNN',i)"  ><i [ngClass]="item.liked ?  'fas fa-heart fa-lg liked' :'fas fa-heart fa-lg unliked'"  name="icone"></i></button>
                                <img id="article-images" src={{item?.imageUrl}}/>
                              </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                              <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                                <p class="article-description">{{item?.description}}</p>
                            </div>
                            </div>
                          </div>
                          </div>
                        </div>
                      </div>

                      <!--The Guardian Site-->
                      <div class="col-lg-4 col-md-12 col-sm-12 d-flex">
                        <div class="card mb-3 box-shadow" id="article-body">
                          <span class="card-title" id="web-name"><h4>The Guardian</h4></span>
                          <div class="card-body" id="articles">
                         <!--Site-->
                          <div  *ngFor="let item of newsAr[5]; index as i; first as isFirst; ">
                            <div class="row" id="blue-line">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                <button *ngIf="isLoging" class="likedbtn" (click)="likedArticle(item,'The Guardian',i)" id="element" ><i [ngClass]="item.liked ?  'fas fa-heart fa-lg liked' :'fas fa-heart fa-lg unliked'" class="fa-heart fa-lg unliked"  name="icone"></i></button>
                                <img id="article-images" src={{item?.imageUrl}}/>
                              </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                              <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                                <p class="article-description">{{item?.description}}</p>
                            </div>
                            </div>
                          </div>
                          </div>
                        </div>
                      </div>


                      <!--The Blaze Site-->
                      <div class="col-lg-4 col-md-12 col-sm-12 d-flex" >
                        <div class="card mb-3 box-shadow" id="article-body">
                          <span class="card-title" id="web-name"><h4>The Blaze</h4></span>
                          <div class="card-body" id="articles">
                         <!--Site-->
                          <div  *ngFor="let item of newsAr[0]; index as i; first as isFirst; ">
                            <div class="row" id="blue-line">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                <button *ngIf="isLoging" class="likedbtn" (click)="likedArticle(item,'The Blaze',i)"  ><i [ngClass]="item.liked ?  'fas fa-heart fa-lg liked' :'fas fa-heart fa-lg unliked'"  name="icone"></i></button>
                                <img id="article-images" src={{item?.imageUrl}}/>
                              </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                              <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                                <p class="article-description">{{item?.description}}</p>
                            </div>
                            </div>
                          </div>
                          </div>
                        </div>
                      </div>

                          <!--ABC Site-->
                          <div class="col-lg-4 col-md-12 col-sm-12 d-flex" >
                            <div class="card mb-3 box-shadow" id="article-body">
                              <span class="card-title" id="web-name"><h4>ABC News</h4></span>
                              <div class="card-body" id="articles">
                             <!--Site-->
                              <div  *ngFor="let item of newsAr[6]; index as i; first as isFirst; ">
                                <div class="row" id="blue-line">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                    <button *ngIf="isLoging" class="likedbtn" (click)="likedArticle(item,'ABC News',i)" id="element" ><i [ngClass]="item.liked ?  'fas fa-heart fa-lg liked' :'fas fa-heart fa-lg unliked'"  name="icone"></i></button>
                                    <img id="article-images" src={{item?.imageUrl}}/>
                                  </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                  <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                                    <p class="article-description">{{item?.description}}</p>
                                </div>
                                </div>
                              </div>
                              </div>
                            </div>
                          </div>

                              <!--Jerusalem post site-->
                              <div class="col-lg-4 col-md-12 col-sm-12 d-flex" >
                                <div class="card mb-3 box-shadow" id="article-body">
                                  <span class="card-title" id="web-name"><h4>Jerusalem post</h4></span>
                                  <div class="card-body" id="articles">
                                 <!--Site-->
                                  <div  *ngFor="let item of newsAr[11]; index as i; first as isFirst; ">
                                    <div class="row" id="blue-line">
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                        <button *ngIf="isLoging" class="likedbtn" (click)="likedArticle(item,'JPOST',i)"  ><i [ngClass]="item.liked ?  'fas fa-heart fa-lg liked' :'fas fa-heart fa-lg unliked'"  name="icone"></i></button>
                                        <img id="article-images" src={{item?.imageUrl}}/>
                                      </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                      <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                                        <p class="article-description">{{item?.description}}</p>
                                    </div>
                                    </div>
                                  </div>
                                  </div>
                                </div>
                              </div>

                           <!--NBC Site-->
                           <div class="col-lg-4 col-md-12 col-sm-12 d-flex">
                            <div class="card mb-3 box-shadow" id="article-body">
                              <span class="card-title" id="web-name"><h4>NBC</h4></span>
                              <div class="card-body" id="articles">
                             <!--Site-->
                              <div  *ngFor="let item of newsAr[10]; index as i; first as isFirst; ">
                                <div class="row" id="blue-line">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                    <button *ngIf="isLoging" class="likedbtn" (click)="likedArticle(item,'NBC',i)"  ><i [ngClass]="item.liked ?  'fas fa-heart fa-lg liked' :'fas fa-heart fa-lg unliked'"  name="icone"></i></button>
                                    <img id="article-images" src={{item?.imageUrl}}/>
                                  </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
                                  <a href={{item?.url}}><h2 class="article-title">{{item?.title}}</h2></a>
                                    <p class="article-description">{{item?.description}}</p>
                                </div>
                                </div>
                              </div>
                              </div>
                            </div>
                          </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <a class="carousel-control-prev" id="control" href="#news-articles" role="button" data-slide="prev">
              <span class="btn btn-dark carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" id="control" href="#news-articles" role="button" data-slide="next">
              <span class="btn btn-dark carousel-control-next-icon" aria-hidden="true"></span>
            </a>
              <ul class="carousel-indicators" id="step">
                <li data-target="#news-articles" data-slide-to="0" class="active"></li>
                <li data-target="#news-articles" data-slide-to="1"></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
