<section class="header">
      <div class="container">
            <div class="categories">
                  <a class="category" href="#/articles/news">News</a>
                  <a class="category" href="#/articles/business">Business</a>
                  <a class="category" href="#/articles/sport">Sport</a>
                  <a class="category" href="#/articles/technology">Technology</a>
                  <a class="category" href="#/articles/travel">Travel</a>

                  <a href="#"><h1 class="title title-text" >What'sNew</h1></a>
            </div>



            <div class="actions">
                  <input type="file" (change)="onFileSelected($event)" type="file"name="file" accept="image/jpeg, image/png, image/jpg" class="hidden" id="uploadFile"/><input id="image" type="image" *ngIf="isLoging" [src]='profileImage' (click)="editImage()" class="profile"/>
                   <p class="name">{{user}}</p>
                   <a *ngIf="!isLoging" class="category action"  href="#/user/register">Sign Up</a>
                   <a *ngIf="!isLoging" class="category action" href="#/user/login">Sign In</a>
                   <a *ngIf="isLoging" class="category action" href="#" (click)="logOut()">Sign out</a>
                 </div>
      </div>
</section>
